<h1>Modification du travail</h1>

<%= form_for @post do |f| %>
  <div>
    <label>parent du travail</label>
    <%= f.text_field :parent %>
  </div>
  <div>
    <label> nom du travail</label>
    <%= f.text_field :name %>
  </div>
  <div>
    <label> prix du travail</label>
    <%= f.text_field :prix %>
  </div>
  <button type="submit">Modifier le travail</button>

<% end %>